<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <main>
        <div>

            <h1>
                {{ lists_objects.name }}
            </h1>
            <p>
                <a href="{% url 'todo_list_update' lists_objects.id  %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' lists_objects.id  %}">Delete</a>
            </p>
            <h2>
                Tasks
            </h2>
            <table>
                <thread>
                    <th> Task </th>
                    <th> Due Date </th>
                </thread>
                <tbody>
                    {% for list in lists_objects.items.all %}
                    <tr>
                        <td>
                            <a href= "{% url 'todo_item_update' list.id  %}">{{ list.task }}</a>
                        </td>
                        <td>{{ list.due_date }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
