<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Looking good</title>
</head>
<body>
    <main>
        <div>
        <h1>
            My lists
        </h1>
        <p>
            <a href="{% url 'todo_list_create' %}"> Create a new list</a>
        </p>
        <p>
            <a href="{% url 'todo_item_create' %}"> Create a new item</a>
        </p>
        <table>
            <thread>
                <th>
                    Name
                </th>
                <th>
                    Number of items
                </th>
            </thread>
            <tbody>
                {% for list in lists %}
                <tr>
                    <td><a href='{% url "todo_list_detail" list.id  %}'>{{list.name}}</a></td>
                    <td> {{list.items.count}} </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        </div>
    </main>
</body>
</html>
